<ng-container *ngIf="visible">
  <table style="border-collapse: collapse">
    <tr style="border-bottom: 3px solid #000c">
      <td>金額</td>
      <td>
        <p-inputGroup>
          <p-inputNumber
            inputId="integeronly"
            [min]="0"
            [(ngModel)]="amount"
            [inputStyle]="{ backgroundColor: '#B3E5FC' }"
          ></p-inputNumber>
          <p-inputGroupAddon>円</p-inputGroupAddon>
        </p-inputGroup>
      </td>
    </tr>
    <tr>
      <td>サービス</td>
      <td>
        <p-dropdown
          [(ngModel)]="service"
          [options]="services"
          optionLabel="label"
          optionValue="value"
          [style]="{ backgroundColor: '#B3E5FC' }"
        >
        </p-dropdown>
      </td>
    </tr>
    <tr>
      <td>手数料</td>
      <td>
        <p-inputGroup>
          <p-inputNumber
            [disabled]="true"
            inputId="integeronly"
            [ngModel]="feePercentage"
            [inputStyle]="{ color: 'black' }"
          ></p-inputNumber>
          <p-inputGroupAddon>%</p-inputGroupAddon>
        </p-inputGroup>
      </td>
    </tr>
    <tr>
      <td>配送方法</td>
      <td>
        <p-dropdown
          [(ngModel)]="shipMethod"
          [options]="shipMethods"
          optionLabel="label"
          optionValue="value"
          [style]="{ backgroundColor: '#B3E5FC' }"
        >
          <ng-template let-item pTemplate="item">
            <div>{{ item.label }}</div>
            <div style="padding-left: 10px">
              {{ toLocaleString(item.shipCost) }} 円
            </div>
          </ng-template>
        </p-dropdown>
      </td>
    </tr>
    <tr>
      <td>配送料</td>
      <td>
        <p-inputGroup>
          <p-inputNumber
            [disabled]="true"
            inputId="integeronly"
            [ngModel]="shipCost"
            [inputStyle]="{ color: 'black' }"
          ></p-inputNumber>
          <p-inputGroupAddon>円</p-inputGroupAddon>
        </p-inputGroup>
      </td>
    </tr>
    <tr>
      <td>資材料</td>
      <td>
        <p-inputGroup>
          <p-inputNumber
            [disabled]="true"
            inputId="integeronly"
            [ngModel]="boxCost"
            [inputStyle]="{ color: 'black' }"
          ></p-inputNumber>
          <p-inputGroupAddon>円</p-inputGroupAddon>
        </p-inputGroup>
      </td>
    </tr>
    <tr>
      <td>集荷依頼</td>
      <td>
        <p-dropdown
          [disabled]="!isCollectable()"
          [(ngModel)]="collection"
          [options]="collections"
          optionLabel="label"
          optionValue="value"
          [style]="{ backgroundColor: isCollectable() ? '#B3E5FC' : '#BDBDBD' }"
        >
        </p-dropdown>
      </td>
    </tr>
    <tr>
      <td>集荷料</td>
      <td>
        <p-inputGroup>
          <p-inputNumber
            [disabled]="true"
            inputId="integeronly"
            [ngModel]="collectionCost"
            [inputStyle]="{ color: 'black' }"
          ></p-inputNumber>
          <p-inputGroupAddon>円</p-inputGroupAddon>
        </p-inputGroup>
      </td>
    </tr>
    <tr style="border-bottom: 3px solid #000c">
      <td>梱包費等</td>
      <td>
        <p-inputGroup>
          <p-inputNumber
            inputId="integeronly"
            [min]="0"
            [(ngModel)]="packingCost"
            [inputStyle]="{ backgroundColor: '#B3E5FC' }"
          ></p-inputNumber>
          <p-inputGroupAddon>円</p-inputGroupAddon>
        </p-inputGroup>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold">販売価格</td>
      <td>
        <p-inputGroup>
          <p-inputNumber
            [readonly]="true"
            inputId="integeronly"
            [ngModel]="price"
            [inputStyle]="{ backgroundColor: '#B9F6CA' }"
          ></p-inputNumber>
          <p-inputGroupAddon>円</p-inputGroupAddon>
        </p-inputGroup>
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold">販売利益</td>
      <td>
        <div style="display: flex; align-items: center; gap: 5px">
          <p-inputGroup>
            <p-inputNumber
              [readonly]="true"
              inputId="integeronly"
              [ngModel]="profit"
              [inputStyle]="{ backgroundColor: '#B9F6CA' }"
            ></p-inputNumber>
            <p-inputGroupAddon>円</p-inputGroupAddon>
          </p-inputGroup>
        </div>
      </td>
    </tr>
  </table>
</ng-container>
